.button {
  padding: 10px;
  background: var(--color-primary);
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
}

#btnNik{
  background: var(--color-second);  
}

.button:hover{
  transform: scale(1.05);
}