.button {
  padding: 10px;
  background: var(--color-primary);
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
}

#btnNik{
  background: var(--color-second);  
}

.button:hover{
  transform: scale(1.05);
}


#btnExit{
  width: 100px;
  background-color: var(--color-exit);
  color: whitesmoke;
}

@media (max-width: 768px) {
  #btnExit{
    width: 60px;
  }
}