#chat {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  height: 300px;
  overflow-y: auto;
  background: var(--color-card);
  padding: 10px;
  border-radius: var(--radius);
  margin-bottom: 10px;
}


.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.input-area {
  display: flex;
  gap: 10px;
}

.my-message {
  background: var(--color-mychat);
  color: white;
  padding: 8px;
  border-radius: 10px;
  margin: 5px;
  width: fit-content;
  align-self: flex-end;
}

.other-message {
  background: var(--color-otherchat);
  color: white;
  padding: 8px;
  border-radius: 10px;
  margin: 5px;
  width: fit-content;
  align-self: flex-start;
}



@media (max-width: 768px) {
 
  .chat-container {
    order: 1;
    height: calc(100vh - 150px);
  }
}