body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: sans-serif;
}

.name {
  font-weight: bold;
  margin-right: 5px;
}

.my-message {
  background: var(--color-mychat);
  color: white;
  padding: 8px;
  border-radius: 10px;
  margin: 5px;
  width: fit-content;
  align-self: flex-end;
}

.other-message {
  background: var(--color-otherchat);
  color: white;
  padding: 8px;
  border-radius: 10px;
  margin: 5px;
  width: fit-content;
  align-self: flex-start;
}
.app {
  display: flex;
  height: 100vh;
}