body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: sans-serif;
}

#title {
  align-self: center;
  font-size: 4rem;
}

#title-room{
 font-family: var(--font-main); 
 margin-left: 20px;
 margin-bottom: 10px;
}
.name {
  font-weight: bold;
  margin-right: 5px;
}

#container-nik {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  border: solid rgb(174, 173, 173) 0.5px;
  border-radius: 5px;
  background: var(--color-card);
  padding: 20px;
  align-items: center;
}

#container-nik.hidden {
  display: none;
}

#buttonsHeader {
  display: flex;
  justify-content: space-between;
  width: auto;
  gap: 5px;
}

#buttonsHeader.hidden {
  display: none;
}

#textRoom.hidden{
  display: none;
}

#usersContainer {
  position: fixed;
  top: 0;
  left: 0;

  width: 280px;
  height: 100vh;

  background: var(--color-card);
  box-shadow: 2px 0 10px rgba(0,0,0,0.2);

  transform: translateX(-100%);
  transition: transform 0.3s ease;

  z-index: 100;
}

#usersContainer.active {
  transform: translateX(0);
}

.app {
  display: flex;
  height: 100vh;
}


  #chat-head {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  /* Estado inicial */
  #chat-head.centered {
    justify-content: center;
  }

  /* Estado activo */
  #chat-head.active {
    justify-content: space-between;
  }

  /* Botón oculto */
  .hidden {
    display: none;
  }

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  #usersContainer {
    width: 75%;
    max-width: 300px;
    top: 20px;
  }

  #title{
    font-size: 2rem;
  }

}